body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header-menu {
    line-height: 80px;
    width: 580px;
    margin: 0px auto;
}

.header-menu-item {
    width: 145px;
    float: left;
    text-align: center;
    list-style-type: none;
}

.header-menu-item a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #16a085;
}

.header-image {
    text-align: center;
}

.content {
    padding-bottom: 100px;
    text-align: center;
    background-color: #f5f6f7;
}

.content-text {
    width: 1070px;
    padding-top: 27px;
    margin: 0 auto;
}

.button {
    line-height: 45px;
    width: 185px;
    background-color: #16a085;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    margin: 60px auto;
}

.footer {
    width: 1180px;
    text-align: right;
    line-height: 100px;
}